
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutLoginPage.cshtml";
}

<!--start-login-form-->
<div class="login-form">
    <h1>Member login</h1>
    <form action="Account/Verify" method="post">
        <span>
            <input type="text" class="user" name="Name" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
        </span>
        <span>
            <input type="password" class="lock" name="Password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
        </span>
        <div class="submit">
            <input type="submit" onclick="myFunction()" value="LOGIN" />
        </div>
        <div class="Remember-me">
            <span class="col_checkbox">
                <input id="10" class="css-checkbox10" type="checkbox">
                <a href="#">Remember me</a>
            </span>
            <span class="forget-pass">
                <a href="#">Forgot password?</a>
            </span>
            <div class="clear"> </div>
        </div>

    </form>

</div>
<!--//End-login-form-->
